body {
  background-color: #3e8e41;
  font-style: italic;
}
.gameName {
  /* color: #3e8e41; */
  width: 100%;
  text-align: center;
  font-size: 26px;
}
.dice {
  width: 35px;
  height: 35px;
}
.diceSideTop {
  display: flex;
}
.gameRound {
  display: flex;
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  background: #ecf789;
}
.test {
  display: flex;
}

.scoreBlock {
  width: 25%;
}
.diceBlock {
  width: 75%;
}
.total {
  display: flex;

  color: #e73950;
}
#totalScore {
  color: #e73950;
}
.diceSideLeftAndRight {
  display: flex;
}
.plNum {
  color: #3e8e41;
}
.pl {
  color: rgb(19, 18, 18);
}

/*Players' boxes*/
.allPlayers {
  display: flex;
}
.player {
  border-radius: 15px;
  margin: 5px;
  padding: 5px 15px;
  width: 16.6%;

  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;

  background-color: #e1ee69;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(19, 18, 18);
}
.player:hover {
  background-color: rgba(212, 113, 56, 0.931);
}

/* Combinations' Buttons*/
.btn {
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(19, 18, 18);
}
.btn:hover {
  background-color: rgba(212, 113, 56, 0.931);
}
.btn:active {
  background-color: rgba(212, 113, 56, 0.931);
  box-shadow: 0 2px rgb(14, 13, 13);
  transform: translateY(4px);
}

/* Done Button*/
.done {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 35px;
  box-shadow: 0 3px rgb(19, 18, 18);
}
.done:hover {
  background-color: #3df343;
}
.done:active {
  background-color: #3df343;
  box-shadow: 0 2px rgb(14, 13, 13);
  transform: translateY(4px);
}

/* Farkle Button*/
.farkle {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  background-color: #e73950;
  border: none;
  border-radius: 40px;
  box-shadow: 0 3px rgb(19, 18, 18);
}
.farkle:hover {
  background-color: #f30b0b;
}
.farkle:active {
  background-color: #f30b0b;
  box-shadow: 0 2px rgb(14, 13, 13);
  transform: translateY(4px);
}

/* Delete Button*/
.delete {
  margin: 5px;
  padding: 0px 15px;
  cursor: pointer;
  outline: none;
  background-color: #e73950;
  border: none;
  border-radius: 40px;
  box-shadow: 0 3px rgb(19, 18, 18);
}
.delete:hover {
  background-color: #f30b0b;
}
.delete:active {
  background-color: #f30b0b;
  box-shadow: 0 2px rgb(14, 13, 13);
  transform: translateY(4px);
}

.del {
  width: 35px;
  height: 35px;
}
